/* color scheme
Mint : #3BBA9C
Dark Navy: #2E3047
Grey: #43455C
Dark Grey: #3C3F58
Light Navy: #707793 
*/
html{
    color: #3BBA9C;
    font-size: 16px;
    font-family: 'Cinzel Decorative', cursive;
}

body{
 background-color: white;   
 display: flex;
 justify-content: center;   
}

header{ 
    background-color: #3C3F58;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* Start Menu button styling */

.container {
    display: inline-block;
    cursor: pointer;
    align-self: center;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #3BBA9C;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /* End menu burger styling */


.top-head-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

.menu-contain a{ 
    text-decoration: none; 
    color: white; 
}

.menu-contain a:hover{ 
    text-decoration: wavy; 
    color: #3BBA9C; 
}

.menu-contain li{
    padding-top: 2rem;
}

.menu-contain{
    padding-left: 2.5rem;
}

.border-logo{
    margin: 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;    
}

.border-logo img{
    width: 5rem;
    border-radius: 5rem;
}

.hdr-bottom-contain{
    margin-bottom: 2rem; 
}


/* Start main styling + GRID  */

main{ 
    display: grid;
    grid-template-areas: 
/*1*/    "profile-contain profile-contain "
/*2*/    "news-title market-title "
/*3*/    "news-contain market-contain " 
/*4*/    "news-contain market-contain "
/*5*/    "forecast-contain forecast-contain "
/*6*/    "agenda-title agenda-title"
/*7*/   " agenda-contain    agenda-contain";
    grid-template-rows: 
/*1*/    60px 
/*2*/    40px 
/*3*/    230px 
/*4*/    230px 
/*5*/    100px 
/*6*/    40px 
/*7*/    250px;
    grid-template-columns: 1fr 1fr ; 
    position: relative;
    padding: 0 2rem 0 2rem;
    gap: 2rem 3rem;
    justify-content: center;
    width: 100%; 
    margin: .5rem; 
}

/* START Page Title Styling  */

.profile-contain{
    grid-area: profile-contain; 
    background-color: white ;
    display: flex;
    text-align: center;
    flex-direction: column;
}


.name-title{
    font-family: 'Cinzel Decorative', cursive;
    margin: 0px;
    font-size: 3rem; 
}

/* start section title styling */

.market-title , .news-title , .agenda-title{ 
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    font-family: 'Cinzel Decorative', cursive;
}

/* START NEWS STYLING */
.news-title{
    grid-area: news-title;
}

.news-contain{ 
    grid-area: news-contain; 
    background-color: white;
}

.news-rss-feed{
    height: 95%;
    overflow:auto;
    background-color:whtie;
    color:#3BBA9C;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
    text-decoration-color: #707793;
}

.feed-item-title a{
    color: black;
}

.feed-item-title{
    margin-bottom: .5rem;
}

.feed-item-desc{ 
    margin-bottom: 1rem; 
}

/* MARKET STYLING */

.market-title{
    grid-area: market-title;
    /* justify-content: center; */
}

.market-contain{
    grid-area: market-contain; 
    background-color: white;
    width: 5rem;
    display: flex;
    justify-self: flex-start;
}

.tradingview-widget-copyright{ 
    justify-content: center;
}

/* AGNEDA STYLING*/

.agenda-title{
    grid-area: agenda-title; 
}

.agenda-contain{
    grid-area: agenda-contain; 
    display: flex;
    justify-self: center;
} 

/* FORECAST STLIYNG */

.forecast-contain{
    grid-area: forecast-contain;
    background-color: whtie;
}


/* START MEDIA QUERY STYLING */


/* remove nonapplicable widgits for desktop version */
@media only screen and (min-width:500px){
    .forecast-contain-small{
        display: none; 
    }
    .market-contain-small{
        display: none; 
    }
    .forecast-title{
        display: none; 
    }
    
}

@media only screen and (max-width: 501px){
    html{
        color: #3BBA9C;
        font-size: 12px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .name-title{
        font-family: 'Cinzel Decorative', cursive;
        margin: 0px;
        font-size: 2rem; 
    }

    header{
        display: none; 
    }
    main{ 
        display: grid;
        grid-template-areas: 
    /*1*/    "profile-contain"
    /*2*/    "news-title"
    /*3*/    "news-contain" 
    /*4*/    "market-title"
    /*5*/    "market-contain-small"
    /*6*/    "forecast-title"
    /*7*/    "forecast-contain-small";
  
        grid-template-rows: 
    /*1*/    60px 
    /*2*/    40px 
    /*3*/    230px 
    /*4*/    40px
    /*5*/    230px 
    /*7*/    40px 
    /*8*/    250px;
        grid-template-columns: 1fr  ; 
        position: relative;
        padding: 0 2rem 0 2rem;
        gap: 1rem 1rem;
        justify-content: center;
        width: 100%; 
        margin: .5rem; 
    }
    .news-contain{ 
        grid-area: news-contain; 
        background-color: white;
        display: flex; 
        justify-content: center;
    }

    .news-rss-feed{
        height: 95%;
        width: 70vw;
        overflow:auto;
        background-color:whtie;
        color:#3BBA9C;
        scrollbar-base-color:gold;
        font-family:sans-serif;
        padding:10px;
        text-decoration-color: #707793;
    }

    .market-contain-small{
        grid-area: market-contain-small;
        justify-content: center;
    }

    .market-contain{
        display: none; 
        grid-area: market-contain; 
        background-color: white;
        width: 5rem;
        /* display: flex; */
        /* justify-self: center; */
    }
    
    .tradingview-widget-copyright{ 
        justify-content: center;
    }
    .forecast-title{
        grid-area: forecast-title;
        justify-items: center;
    }
    .forecast-contain{
        display: none;
    }

    .forecast-contain-small{
        grid-area: forecast-contain-small;
        justify-content: center;
    }

    .agenda-title{
        display: none; 
    }
    .agenda-contain{
        display: none; 
    }
}