/* color scheme
Mint : #3BBA9C
Dark Navy: #2E3047
Grey: #43455C
Dark Grey: #3C3F58
Light Navy: #707793 
*/
html{
    color: #3BBA9C;
    font-size: 16px;
}

body{
 background-color: white;   
 display: flex;
}

header{ 
    background-color: #3C3F58;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.menu-contain a{ 
    text-decoration: none; 
    color: white; 
}

main{ 
    display: grid;
    grid-template-areas: 
    "profile-contain profile-contain profile-contain"
    "news-title market-title agenda-title"
    "news-contain market-contain agenda-contain" 
    "news-contain market-contain agenda-contain"
    "forecast-contain forecast-contain forecast-contain";
    grid-template-rows: 60px 40px 250px 250px 120px;
    grid-template-columns: 1fr 1fr 1fr; 
    position: relative;
    grid-gap: 0.5rem;
    justify-content: center;
    width: 100%; 
    margin: .5rem; 
}

.profile-contain{
    grid-area: profile-contain; 
    background-color: white ;
}

/* START NEWS STYLING */
.news-title{
    display:grid; 
    grid-area: news-title;
}

.news-contain{ 
    grid-area: news-contain; 
    background-color: white;
}

.news-rss-feed{
    height: 95%;
    overflow:auto;
    background-color:#3C3F58;
    color:#3BBA9C;
    scrollbar-base-color:gold;
    font-family:sans-serif;
    padding:10px;
    text-decoration-color: #707793;
}

h4.feed-item-title{
    color: #3BBA9C; 
}

/* MARKET STYLING */
.market-contain{
    grid-area: market-contain; 
    background-color: #3BBA9C;
}

/* AGNEDA STYLING */

.agenda-contain{
    grid-area: agenda-contain; 
    
}

/* FORECAST STLIYNG */

.forecast-contain{
    grid-area: forecast-contain;
    background-color: whtie;
}